* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    height: 100vh;
    background-color: whitesmoke;
    /* border: 15px solid brown; */
    /* position: relative; */
    display: flex;
    flex-direction: column;

}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.controls {
    height: 100px;
}

.controls * {
    padding: 5px;
}

.controls input {
    width: 300px;
    padding: 6px;
}

.list {
    flex-direction: column;

}

.td-wrap {
    justify-content: space-between;
    width: 55vw;
    padding: 5px;
    padding-left: 15px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
}

.del,
.edt {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.del:hover {
    color: red;
    background-color: rgba(255, 0, 0, 0.278);
}

.edt:hover {
    color: red;
    background-color: rgba(255, 247, 0, 0.278);
}

.hovered {
    background-color: rgba(255, 0, 0, 0.189);
}

.edt-hovered {
    background-color: rgba(255, 247, 0, 0.189);
}

/* .del-completed{
    cursor: not-allowed;
    pointer-events: none;
} */

.hidden{
    display: none;
}

.modal-wraper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
    width: 300px;
    height: 170px;
    background-color: whitesmoke;
    position: relative;
}

.modal-body p{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.modal-body p:hover{
    color: red;
    background-color: rgba(255, 0, 0, 0.5);
}